body {
    margin: 0;
    font-family: 'Arial';
}

a {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial;
    color:seagreen;
}

header{
    background-color: white;
    display: flex;
    align-items:flex-start;
    font-family: Arial;
    font-size: 14px;
    padding-bottom: 40px;
}

header nav {
    width: 80%;
    display: flex;
    justify-content:space-evenly;
    padding-top: 20px;
    background-color: white;
 }

 .header_logo{
    padding: 8px;

 }

 .hero_img {
    float: left;
    border-radius: 40%;
    width: 600px;
    height: 550px;
    padding: 50px;
 }

 .hero {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: left;
    background-color: white;
    display:table;
 }

 .main {
    font-size: 20px;
    padding-left: 40px;
 }

 .main_img {
    width:1440px;
 }

 .features{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }



